body {
  --main-brown: rgb(50, 43, 45);
  --margin: 15px;
  color: var(--main-brown);
  font-family: 'Open Sans', sans-serif;
  background-color: #7c6b6285;
  border-top: 10px solid var(--main-brown);
  background-color: #f6f3ec;
  margin: 0;
}

.angled-panel {
  position: absolute;
  width: 1920px;
  height: 223px;
  bottom: 0px;
  /* background-color: white; */
  background-color: rgb(254, 219, 149);
  border-top: 10px solid var(--main-brown);
  padding: var(--margin);
}

.missing-guest {
  font-size: 5rem;
  color: var(--main-brown);
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 0;
  font-family: 'Bal Jamjuree';
  font-size: 4rem;
  margin: var(--margin);
  margin-bottom: 5px;
}

.melt {
  position: absolute;
  right: 2.5rem;
  top: -4.5rem;
  font-size: 21rem;
}

.logo {
  margin-bottom: -0.79rem;
  font-family: 'Bai Jamjuree';
  font-weight: 'bold';
  font-size: 4rem;
}

.logo .live {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--main-brown);
}

.logo .dot {
  -webkit-text-fill-color: red;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--main-brown);
}
