    body {
      font-size: 10rem;
      color: #fff;
      position: relative;
    }

    .start {
      opacity: 0;
      position: absolute;
      animation: move 20s;
    }

@keyframes move {
  0% {
    opacity: 1;
    transform: translate(-20vw, 75vh);
  }
  100% {
    opacity: 1;
    transform: translate(140vw, 75vh);
  }
}