body {
  font-family:Arial, Helvetica, sans-serif;
  color: #fff;
  position: relative;
  background-color: #000;
}

.piece {
  --x-position: 95vw;
  --y-position: 70vh;
  font-size: 5rem;
  position: absolute;
  transform: translate(var(--x-position), var(--y-position));
  transition: opacity 1s ease-in, transform 1s ease-in-out;
  opacity: 0;
}

.alpaca {
  position: absolute;
  width: 175px;
  height: 218px;
  bottom: 3px;
  --x-position: 0vw;
  --y-position: 0vh;
  transform: translate(var(--x-position), var(--y-position));
  background-image: url(assets/images/alpaca.png);
  background-size: cover;
  transition: transform 1s ease-in-out;
}

.alpaca--hide {
  --y-position: 218px;
}