body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  position: relative;
  background-color: #000;
  height: 100vh;
}

.piece,
.subscriber--piece {
  font-size: 4rem;
  position: absolute;
  transform: translate(var(--x-position), var(--y-position));
  transition: opacity 1s ease-in, transform 1s ease-in-out;
  opacity: 0;
}

.piece {
  --x-position: 3vw;
}

.alpaca {
  position: absolute;
  width: 175px;
  height: 218px;
  bottom: 3px;
  --x-position: 0vw;
  --y-position: 0vh;
  transform: translate(var(--x-position), var(--y-position));
  background-image: url(assets/images/alpaca.png);
  background-size: cover;
  transition: transform 1s ease-in-out;
}

.alpaca::before {
  content: '';
  font-size: 6rem;
  position: absolute;
}

.alpaca.croissant::before {
  content: '🥐';
  transform: rotate(-140deg);
  top: -5.5rem;
  left: 2rem;
}

.alpaca.graduation::before {
  content: '🎓';
  transform: rotate(-15deg);
  top: -4rem;
  left: 1.5rem;
}

.alpaca.crown::before {
  content: '👑';
  transform: rotate(-10deg);
  top: -4.5rem;
  left: 2rem;
}

.alpaca.ball-cap::before {
  content: '🧢';
  transform: scaleX(-1);
  top: -3.5rem;
  left: 2.5rem;
}

.alpaca.top-hat::before {
  content: '🎩';
  transform: rotate(-15deg);
  top: -5rem;
  left: 1.5rem;
}

.🥌 {
  --x-position: 90vw;
  --y-position: -12vh;
}

.🦄 {
  --x-position: 3vw;
  --y-position: 15vh;
}

.🦞 {
  --y-position: 45vh;
}

.💩 {
  --y-position: 35vh;
}

.🍩 {
  --y-position: 25vh;
}

.alpaca--hide {
  --y-position: 278px;
}

.confetti {
  width: 100vw;
  height: 100vh;
}
